# Build output
build/
install/
out/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
cmake_install.cmake
compile_commands.json

# Visual Studio / MSVC
.vs/
*.obj
*.exe
*.lib
*.dll
*.pdb
*.ilk
*.exp
*.user

# Editors / language servers
.cache/
